.userContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.primaryUser {
    color: #ff1940;
    font-size: 16px;
}

.otherUsers {
    color: #696969;
    font-size: 16px;
}