.chatMainLayout {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
}

.fixedLeftPanel {
    width: 335px;
    height: 100vh;
    color: white;
    background-color: #ff1940;
}


.roomsTab {
    color: white;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 25px 20px;
    font-size: 18px;
}

.roomsTab:hover {
    background-color: #800d20;
}

.selectRoom {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    color: #696969;
    margin: 10vh;
    font-size: 24px;
}