.ChatMainLayout {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
}

.FixedLeftPanel {
    width: 335px;
    height: 100vh;
    color: white;
    background-color: #ff1940;

}

.ChatWindow {
    height: 100vh;
    color: #696969;
    background-color: white;
    width: 100%;
    padding: 25px 20px;
}

.roomsTab {
    color: white;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 25px 20px;
    font-size: 18px;
}

.roomsTab:hover {
    background-color: #800d20;
}

.selectRoom {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #696969;
    font-size: 20px;
}

a {
    text-decoration: none;
}